NET "clk" LOC = AC18         | IOSTANDARD = LVCMOS18 ; 
NET "S1" LOC = AA10   	| IOSTANDARD = LVCMOS15;
NET "S2" LOC = AB10   	| IOSTANDARD = LVCMOS15;
NET "S3" LOC = AA13   	| IOSTANDARD = LVCMOS15;
NET "F"  LOC = AB26    	| IOSTANDARD = LVCMOS33 ;#D8
NET "Buzzer" LOC = AF24      | IOSTANDARD = LVCMOS33 ;
NET "LED[0]"  LOC = W26      | IOSTANDARD = LVCMOS33 ;
NET "LED[1]"  LOC = V21      | IOSTANDARD = LVCMOS33 ;
NET "LED[2]"  LOC = W24       | IOSTANDARD = LVCMOS33 ;
NET "LED[3]"  LOC = W23       | IOSTANDARD = LVCMOS33 ;
NET "LED[4]"  LOC = AB25      | IOSTANDARD = LVCMOS33 ;
NET "LED[5]"  LOC = AA25      | IOSTANDARD = LVCMOS33 ;
NET "LED[6]"  LOC = W21       | IOSTANDARD = LVCMOS33 ;
