NET "clk_100mhz"		LOC = AC18      | IOSTANDARD = LVCMOS18 ;
NET "clk_100mhz"		TNM_NET = TM_CLK ;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK"  10 ns HIGH 50%;

net "SW[0]" loc = AA10   | IOSTANDARD = LVCMOS15;
net "SW[1]" loc = AB10  | IOSTANDARD = LVCMOS15;
net "SW[2]" loc = AA13  | IOSTANDARD = LVCMOS15;
net "SW[3]" loc = AA12  | IOSTANDARD = LVCMOS15;
net "SW[4]" loc = Y13   | IOSTANDARD = LVCMOS15;
net "SW[5]" loc = Y12  | IOSTANDARD = LVCMOS15;
net "SW[6]" loc = AD11  | IOSTANDARD = LVCMOS15;
net "SW[7]" loc = AD10   | IOSTANDARD = LVCMOS15;
net "SW[8]" loc = AE10   | IOSTANDARD = LVCMOS15;
net "SW[9]" loc = AE12   | IOSTANDARD = LVCMOS15;
net "SW[10]" loc = AF12   | IOSTANDARD = LVCMOS15;
net "SW[11]" loc = AE8   | IOSTANDARD = LVCMOS15;
net "SW[12]" loc = AF8   | IOSTANDARD = LVCMOS15;
net "SW[13]" loc = AE13   | IOSTANDARD = LVCMOS15;
net "SW[14]" loc = AF13   | IOSTANDARD = LVCMOS15;
net "SW[15]" loc = AF10   | IOSTANDARD = LVCMOS15;
NET "Buzzer" LOC = AF24 | IOSTANDARD = LVCMOS33;
NET "RSTN" LOC = W13 | IOSTANDARD = LVCMOS18;


//W13 LVCMOS18
NET "SEGMENT[0]"  LOC = AB22	| IOSTANDARD = LVCMOS33 ;#b
NET "SEGMENT[1]"  LOC = AD24	| IOSTANDARD = LVCMOS33 ;#b
NET "SEGMENT[2]"   LOC = AD23 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[3]" LOC = Y21 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[4]" LOC = W20 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[5]" LOC = AC24 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[6]" LOC = AC23	| IOSTANDARD = LVCMOS33 ;#g
NET "SEGMENT[7]" LOC = AA22 | IOSTANDARD = LVCMOS33 ;#point

NET "AN[0]" 	LOC = AD21  | IOSTANDARD = LVCMOS33 ;
NET "AN[1]" 	LOC = AC21 | IOSTANDARD = LVCMOS33 ;
NET "AN[2]" 	LOC = AB21 | IOSTANDARD = LVCMOS33 ;
NET "AN[3]" 	LOC = AC22   | IOSTANDARD = LVCMOS33 ;